<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Temp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="임시">
    <meta property="og:type" content="website">
    <meta property="og:title" content="임시">
    <meta property="og:description" content="임시">
    <meta property="og:url" content="">
</head>
<body>
    <div class="wrapper view-wrap">
        <div class="container">
            <div class="row item-img">
                <img src="https://dummyimage.com/600x600/000/fff" alt="제품 사진">
            </div>
            <div class="layout">
                <div class="view-container">
                    <div class="row item-info">
                        <div class="category-date">
                            <span class="item-category" th:text="${review.category}">category</span>
                            <span class="date" th:text="${#temporals.format(review.modDate, 'yyyy-MM-dd HH:mm:ss')}">modDate</span>
                        </div>
                        <h2 class="h" th:text="${review.title}">title</h2>
                        <div class="item-tag">
                            <a href="#">GS25</a>
                            <a href="#">CU</a>
                            <a href="#">성수동</a>
                        </div>
                        <div class="review" th:text="${review.content}"></div>
                    </div>
                </div>
                <div class="func">
                    <a href="list">목록</a>
                    <div class="writer-menu">
                        <a href="#">수정</a>
                        <a href="#">삭제</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>
